.small-icon {
    font-size: 20px !important; 
  }
  
  .mat-icon-button {
    width: 36px !important;  
    height: 36px !important;
  }
  
  .list-group-item {
    padding: 8px 12px; 
  }
  
  .d-flex.align-items-center {
    align-items: center !important; 
  }
  .card-title{
    padding: 10px;
    font-size: x-large;
    text-align: center;
    color: white;
    background: #8d8d8d;
  }