<nav class="navbar navbar-light bg-light navbar-expand-lg" style="padding: 15px; background-color: rgb(63 49 87) !important">
  <div class="container d-flex align-items-center">
    
    <!-- Logo + Nombre de usuario alineados a la izquierda -->
    <div class="d-flex align-items-center">
      <a class="navbar-brand" href="#">
        <img style="width: 200px; height: 100px;" src="../../../assets/images/logo_nuevo_xoftix.png" alt="xoftix">
      </a>
      
      <span class="nav-link text-white ms-3 fw-bold">Usuario: Yuliana Rosero</span>
    </div>

  </div>
</nav>
